node_modules
dist
.env
*.log
.git
.gitignore
README.md
*.sql
*.md
uploads
database
migrations
prisma/dev.db
prisma/migrations
prisma/*.ts
prisma/*.sql
check-services.js
test-momo.js
test-signature.js
momo-reference.js
momo-error.json
bus-api-tests.json
create-admin.ts
hash-password.ts
*.bat
